{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Good Econ!</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row justify-content-center py-5">
            <div class="col-8">
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam dolor enim eos error facere
                    impedit modi nostrum, nulla perspiciatis praesentium quae, quis rerum suscipit velit veritatis
                    voluptatum? Excepturi, ut.
                </div>
                </br>
                <div>Consequuntur est, eum explicabo inventore nam non! Alias fugit minima sint. Asperiores autem
                    consequuntur culpa deserunt dignissimos dolore doloremque laudantium, maiores nam natus perspiciatis
                    possimus praesentium provident quidem ratione repudiandae!
                </div>
                </br>
                <div>Culpa distinctio exercitationem id maxime, nisi praesentium sed ullam voluptas? A assumenda,
                    consequatur culpa cum dolore ducimus eos exercitationem incidunt laboriosam natus neque omnis
                    perspiciatis placeat sit tenetur ut vero.
                </div>
                </br>
                <div>Ad aliquam at atque cumque eos harum maiores, maxime modi, optio perferendis quod repellendus
                    repudiandae sunt tenetur unde. Consectetur, fugiat, itaque. Animi aspernatur autem cum debitis eos
                    fuga quae tenetur.
                </div>
                </br>
                <div>Adipisci, alias architecto culpa cum harum magni numquam perferendis quam! Ea ex iusto omnis
                    quaerat quia quisquam, reprehenderit sed temporibus unde veniam. Accusamus doloremque eligendi
                    maxime mollitia praesentium suscipit voluptatibus?
                </div>
                </br>
                <div>Aspernatur consequuntur doloribus facere quaerat quasi sunt tempore? Accusantium consequuntur
                    delectus doloribus eligendi impedit iusto, laborum, magnam nihil nisi non numquam odit perspiciatis
                    quam quas rem sequi ullam. Aut, illum?
                </div>
                </br>
                <div>Dignissimos dolorum eum libero unde. Cum ipsum molestiae nulla sequi voluptatum? Adipisci animi,
                    aperiam dolor dolorem doloribus exercitationem fugiat harum modi, nemo nesciunt non nulla odit
                    reiciendis reprehenderit sit, unde.
                </div>
                </br>
                <div>A autem beatae culpa, eaque fugit nostrum qui voluptatum. Alias cumque, dolores doloribus et
                    facilis in ipsa ipsam itaque iusto magnam, minus obcaecati porro possimus quas quia quibusdam
                    repellendus velit.
                </div>
                </br>
                <div>Ad aliquid aperiam beatae ducimus earum incidunt, iste minima, mollitia quis, recusandae
                    repudiandae tempore unde voluptatibus! Cupiditate expedita id labore quia! Accusantium ad asperiores
                    dolorum illum impedit itaque perferendis tempore!
                </div>
                </br>
            </div>
    </div>
</div>

{% endblock %}